/* ====== General Overal App ====== */
// mostly I add in index.scss like css for body{}
.flexbox-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.flexbox-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  // padding-top: 50px;
  p {
    max-width: 500px;
  }

  .margin-bottom-top {
    margin-bottom: 20px;
  }
}

.buttonList {
  margin: 50px 0;
  button {
    width: 150px;
    margin-right: 20px;
  }
}

.menu-nav-link {
  text-decoration: none;
}

.main-body {
  padding: 80px 10px 50px 10px;
  // padding-bottom: 50px;
  min-height: 300px;
}

/* ====== Landing page ====== */

.landing-header {
  min-height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  .header-content {
    position: relative;
    top: 100px;
    margin-left: 100px;
    padding-right: 80px;
    padding-top: 50px;
  }
  .header-title-image {
    max-width: 350px;
    position: relative;
    top: 100px;
  }
}

.top-landing-bg {
  background-image: url("https://i.imgur.com/FkFQN4G.png");
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-repeat: none;
  background-position: right;
}

.middle-landing-bg {
  padding-top: 0;
  margin-bottom: 20px;

  .landing-subcontext {
    padding: 30px 20px 20px 20px;
  }

  .landing-page-picture {
    min-width: 300px;
    max-width: 400px;
    // margin: 20px;
    padding: 40px;
  }
}

.material-icons {
  font-size: 40px;
}

.price-section-bg {
  background-image: url("https://i.imgur.com/XKC9mza.png");
  height: 100%;
  min-height: 500px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  margin-top: -50px;
  margin-bottom: -100px;
}

/* ====== Login / Sign up ====== */

.login-box {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border: 1px solid grey;
  max-width: 400px;
  padding: 40px 70px;
}

.order-submitted-image {
  max-width: 600px;
  margin: 20px auto;
}

.stepper-styling {
  width: 700px;
}

.pageTitle {
  text-align: center;
  margin-bottom: 80px;
}

.formHeader {
  text-align: left;
  margin-bottom: 40px;
}

.formInput {
  width: 400px;
  margin-bottom: 20px;
}
