/* ====== General Overal App ====== */
// mostly I add in index.scss like css for body{}
// primary color: #111B47
// secondary color: #6f7cb2

.flexbox-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.flexbox-row-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
}
.flexbox-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  // padding-top: 50px;
  p {
    max-width: 500px;
  }

  .margin-bottom-top {
    margin-bottom: 20px;
  }
}

.buttonList {
  margin: 50px 0;

  button {
    width: 150px;
    margin-right: 20px;
  }

  .icon-button {
    width: 40px;
  }
}

.button-submit {
  width: 150px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.menu-nav-link {
  text-decoration: none;
}

.main-body {
  padding: 80px 10px 50px 10px;
  // padding-bottom: 50px;
  min-height: 300px;
}

/* ====== Landing page ====== */

.landing-header {
  min-height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  .header-content {
    position: relative;
    top: 100px;
    margin-left: 100px;
    padding-right: 80px;
    padding-top: 50px;
  }
  .header-title-image {
    max-width: 350px;
    position: relative;
    top: 100px;
  }
}

.top-landing-bg {
  background-image: url("https://i.imgur.com/FkFQN4G.png");
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-repeat: none;
  background-position: right;
}

.middle-landing-bg {
  padding-top: 0;
  margin-bottom: 20px;

  .landing-subcontext {
    padding: 30px 20px 20px 20px;
  }

  .landing-page-picture {
    min-width: 300px;
    max-width: 400px;
    // margin: 20px;
    padding: 40px;
  }
}

.material-icons {
  font-size: 40px;
}

.price-section-bg {
  background-image: url("https://i.imgur.com/XKC9mza.png");
  height: 100%;
  min-height: 500px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  margin-top: -50px;
  margin-bottom: -100px;
}

/* ====== Login / Sign up ====== */

.login-box {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border: 1px solid grey;
  max-width: 400px;
  padding: 40px 70px;
}

.order-submitted-image {
  max-width: 600px;
  margin: 20px auto;
}

.stepper-styling {
  width: 700px;
}

.pageTitle {
  text-align: center;
  margin-bottom: 80px;
}

.pageTitle-less-margin {
  text-align: center;
  margin-bottom: 20px;
}

.subTitle-success-page {
  min-width: 700px;
}

.formHeader {
  text-align: left;
  margin-bottom: 40px;
}

.formInput {
  width: 400px;
  margin-bottom: 20px;
}

.smallFormInput {
  width: 200px;
  margin-bottom: 20px;
}

.textFormInput {
  width: 300px;
}

.flexbox-column-start {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 50px;
  text-align: left;

  .form-line-input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .formLabelSize {
    width: 130px;
    display: inline-flex;
    padding-top: 5px;
    margin-left: 0;
    color: #6f7cb2;
  }
}

/* ======= Forum ======= */
.post-list {
  margin-top: 50px;
}

.flexbox-row-forum {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
}

.flexbox-column-forum {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0;
}

// delivery
.relationshipCardStyling {
  width: 33%;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 20px;
  padding-top: 0;
}

.selectedBox {
  border: 5px solid #6f7cb2;
  padding: 2px;
}

.address-field {
  margin: 0;
  display: inline-flex;
}

.order-title {
  margin: 0;
  font-weight: 700;
}

.order-subtitle {
  margin: 0;
  font-size: 0.9em;
}

.new-post-container {
  margin: 20px auto 60px auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 10px #6f7cb2;

  .new-post-title {
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    font-size: 30px;
  }
}

.comment-context-box {
  width: 100%;
  position: relative;
  margin: 5px 0 0 0;
  padding: 10px;
  border: 1px solid #6f7cb2;
  border-radius: 10px;
}
.forum-username {
  // color: black;
  font-weight: 600;
  font-size: 0.95rem;
  margin-top: 0;
  margin-bottom: 0;
}

.forum-date {
  color: grey;
  font-size: 0.8rem;
  margin: 0;
  position: absolute;
  right: 15px;
}
.forum-context {
  color: black;
  margin: 0 5px 0 5px;
  font-size: 0.95rem;
}

.location-search-input {
  width: 400px;
}
